{{#if labels}}
  <h3 class="card-detail-item-header">Labels</h3>
  <div class="u-clearfix js-card-detail-labels-list js-edit-label">
    {{#each labels}}
      <span class="card-label card-label-{{color}} mod-card-detail mod-clickable" title="This is a {{color}} label">{{name}}</span>
    {{/each}}
    <a class="card-detail-item-add-button dark-hover js-details-edit-labels">
      <span class="icon-sm icon-add"></span>
    </a>
  </div>
{{/if}}