<div data-id={{id}} data-position={{position}} class="list-card js-member-droppable ui-droppable">
 <div class="list-card-cover js-card-cover"></div>
 <span class="icon-sm icon-edit list-card-operation dark-hover js-open-quick-card-editor js-card-menu"></span>
 <div class="list-card-details">
  <div class="list-card-labels js-card-labels"></div>
  <a class="list-card-title js-card-name" dir="auto" href="/c/1OPZKW9z/13-create-list-model"><span class="card-short-id hide">{{id}}</span>{{title}}</a>
  <div class="badges">
   <span class="js-badges"></span>
  </div>
 </div>
</div>