<span class="icon-lg icon-close quick-card-editor-close-icon js-close-editor"></span>
<div class="quick-card-editor-card" style="width: 254px;">
    <div class="list-card list-card-quick-edit js-stop" style="width: 254px;">
        <div class="list-card-cover js-card-cover"></div>
        <div class="list-card-details">
            <div id="labelsBlock" class="list-card-labels js-card-labels">
                {{#each labels}}
                <span class="card-label card-label-{{color}} mod-card-front" title="{{name}}">{{name}}</span>
                {{/each}}
            </div>
            <textarea class="list-card-edit-title js-edit-card-title" dir="auto" style="overflow: hidden; word-wrap: break-word; resize: none; height: 90px;">{{title}}</textarea>
        </div>
    </div>
    <input class="primary wide js-save-edits" type="submit" value="Save">
    <div class="quick-card-editor-buttons fade-in">
        <a class="quick-card-editor-buttons-item js-edit-labels" href="#">
            <span class="icon-sm icon-label light"></span>
            <span class="quick-card-editor-buttons-item-text">Edit Labels</span>
        </a>
        <a class="quick-card-editor-buttons-item js-move-card" href="#">
            <span class="icon-sm icon-move light"></span>
            <span class="quick-card-editor-buttons-item-text">Move</span>
        </a>
        <a class="quick-card-editor-buttons-item js-copy-card" href="#">
          <span class="icon-sm icon-card light"></span>
          <span class="quick-card-editor-buttons-item-text">Copy</span>
        </a>
        <a class="quick-card-editor-buttons-item js-edit-due-date" href="#">
          <span class="icon-sm icon-clock light"></span>
          <span class="quick-card-editor-buttons-item-text">Change Due Date</span>
        </a>
        <a class="quick-card-editor-buttons-item js-archive" href="#">
          <span class="icon-sm icon-archive light"></span>
          <span class="quick-card-editor-buttons-item-text">Archive</span>
        </a>
    </div>
</div>