<div class="pop-over is-shown" style="left: 675px; top: 129px;">
  <div class="pop-over-header js-pop-over-header">
    <a href="#" class="pop-over-header-back-btn icon-sm icon-back" hidden></a>
    <span id="popoverTitle" class="pop-over-header-title">Due Date</span>
    <a href="#" class="pop-over-header-close-btn icon-sm icon-close"></a>
  </div>
  <div class="pop-over-content js-pop-over-content u-fancy-scrollbar js-tab-parent" style="max-height: 488px;">
    <form>
      <div id="editDueDate">
        <input type="text" id="datePicker" />
      </div>
      <input class="primary wide js-submit" type="submit" value="Save">
    </form>
  </div>
</div>