<div data-list-id={{ listId }} class="list-card js-composer">
  <div class="list-card-details u-clearfix">
    <div class="list-card-labels u-clearfix js-list-card-composer-labels">
    </div>
    <textarea class="list-card-composer-textarea js-card-title" dir="auto" style="overflow: hidden; word-wrap: break-word; height: 36px;"></textarea>
    <div class="list-card-members js-list-card-composer-members">
    </div>
  </div>
</div>
<div class="cc-controls u-clearfix">
  <div class="cc-controls-section">
    <input class="primary confirm mod-compact js-add-card" type="submit" value="Add">
    <a class="icon-lg icon-close dark-hover js-cancel" href="#"></a>
  </div>
</div>