<div class="comment-container">
    <div class="action-comment markeddown js-comment">
        <div class="current-comment js-friendly-links js-open-card">
            <p>{{text}}</p>
        </div>
    </div>
    <hr>
</div>