<div class="header-boards-button">
  <a class="header-btn header-boards js-boards-menu" href="#">
    <span class="header-btn-icon icon-lg icon-board light"></span>
    <span class="header-btn-text">Board</span>
  </a>
</div>
<div id="headerSearch" class="header-search">
  <input class="header-search-input js-search-input js-disable-on-dialog" type="text" autocomplete="off" autocorrect="off" spellcheck="false" value="">
  <span class="header-search-icon icon-lg icon-search light js-search-icon"></span>
  <span class="header-search-icon header-search-icon-close icon-lg icon-close light hide js-close-icon js-search-close"></span>
</div>
