{{#each labels}}
<li>
  <a class="card-label-edit-button icon-sm icon-edit js-edit-label" href="#" ></a><span class="card-label mod-selectable card-label-{{color}} js-select-label" data-color="{{color}}">{{name}}<span class="icon-sm icon-check card-label-selectable-icon light"></span></span>
</li>
{{/each}}