<div class="pop-over is-shown" style="left: 274px; top: 122px;">
    <div data-reactroot="">
        <div class="pop-over-header js-pop-over-header">
            <a href="#" class="pop-over-header-back-btn icon-sm icon-back is-shown"></a><span class="pop-over-header-title">Copy List</span>
            <a href="#" class="pop-over-header-close-btn icon-sm icon-close"></a>
        </div>
        <div>
            <div class="pop-over-content js-pop-over-content u-fancy-scrollbar js-tab-parent" style="max-height: 485px;">
                <div>
                    <form>
                        <label>Name</label>
                        <textarea class="js-autofocus" name="name">{{ name }}</textarea>
                        <input class="primary wide js-submit" type="submit" value="Create List">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>