<div data-board-list-id="{{id}}" data-position="{{position}}" class="list js-list-content">
  <div class="list-header js-list-header u-clearfix is-menu-shown list-item-container">
   <div class="list-header-target js-editing-target"></div>
   <h2 class="list-header-name-assist js-list-name-assist" dir="auto">{{name}}</h2>
   <textarea class="list-header-name mod-list-name js-list-name-input" spellcheck="false" dir="auto" maxlength="512" style="overflow: hidden; word-wrap: break-word; height: 24px;">{{name}}</textarea>
   <div class="list-header-extras">
    <span class="list-header-extras-subscribe js-list-subscribed hide"><span class="icon-sm icon-subscribe"></span></span>
    <a class="list-header-extras-menu dark-hover js-open-list-menu" href="#"><span class="icon-sm icon-overflow-menu-horizontal"></span></a> 
   </div>
  </div>
  <div class="list-cards u-fancy-scrollbar u-clearfix card-container">
  </div>
  <a class="open-card-composer js-open-card-composer" href="#">Add a card…</a>
</div>
