<div class="pop-over is-shown" style="left: 675px; top: 129px;">
  <div class="pop-over-header js-pop-over-header">
    <a href="#" class="pop-over-header-back-btn icon-sm icon-back" hidden></a>
    <span id="popoverTitle" class="pop-over-header-title">{{title}}</span>
    <a href="#" class="pop-over-header-close-btn icon-sm icon-close"></a>
  </div>
  <div class="pop-over-content js-pop-over-content u-fancy-scrollbar js-tab-parent" style="max-height: 488px;">
    <div id="popoverContent">
    </div>
  </div>
</div>