.board-canvas
  height: 100%

#createList
  + .list-add-controls
    height: 0
    transition: height 250ms ease
  &:focus
    + .list-add-controls
      height: 32px

.hide
  display: none

.window-overlay.show
  display: block
  .window 
    display: block
    position: relative
    left: 50%
    margin: 48px 0 80px -365px

.card-container
  min-height: 5px

.droppable-card:hover
  background-color: #EDEFF0
  border-bottom-color: #D6DADC
  .list-card-operation
    visibility: visible

.gu-mirror
  transform: rotate(6deg)
  -webkit-transform: rotate(6deg)